# Database
# SQLite için (development)
DATABASE_URL="file:./dev.db"
# PostgreSQL için (production)
# DATABASE_URL="postgresql://user:password@localhost:5432/qr_menu?schema=public"

# Application
# Production'da kendi domain'inizi kullanın
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Node Environment
NODE_ENV="development"
